{% extends 'padre.html' %}

{% block content %} 

<h2>Buscador de Libros</h2>

<form method="GET" action="{% url 'listar-libros' %}">
    <input type="text" name="titulo" placeholder="Buscar libro..." value="{{ titulo }}">
    <button type="submit">Buscar</button>
</form>


<h2> Lista de Libros</h2>
<ul>
    {% for libro in libros %}
        <li>
         {{ libro.Titulo }}</li>
        <a href="{% url 'detalle-libro' libro.pk %}">Ver Detalle</a>
        <a href="{% url 'editar-libro' libro.pk %}">Editar</a>
        <a href="{% url 'eliminar-libro' libro.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay libros disponibles.</li>
    {% endfor %}
<ul>
<a href="{% url 'crear-libro' %}">Agregar Libro</a>
{% endblock %}